<!DOCTYPE html>
<html lang="de">

<head>
  <title>MRS</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
</head>
<a class="float">
  <button onclick="parent.open('http://tumkolleg.ovtg.de/')" class="float"></button>
</a>

<body>

  <body>
    <div class="topnav" id="myTopnav">
      <a>Multi-Robot-System </a>
      <a id="index" class="right" href="/start">Start </a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="sidenav">
      <h1>LRS</h1>
      <p class="credits">MRS by Felix Müller-Volbehr & Linus Väthröder</p>
    </div>

    <div class="main">
      <h1>Calculating...</h1>
      <p>

      </p>
    </div>
    <script>
      window.setTimeout('location.href="/run"', 5000);
    </script>
  </body>

</html>